<div class="title">
    <h1>Ver Mascota</h1>
</div>
<div class="container">
    <mat-card class="card">
        <mat-card-title>Ejemplo</mat-card-title>
        <mat-card-content>
            <p><strong>Raza:</strong>Ejemplo</p>
            <p><strong>Color:</strong>Ejemplo</p>
            <p><strong>Peso:</strong>Ejemplo</p>
            <p><strong>Edad:</strong>Ejemplo</p>
        </mat-card-content>
        <mat-card-actions >
            <button routerLink="ListadoMascota" mat-raised-button>Volver</button>           
        </mat-card-actions>
    </mat-card>    
</div>